
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

          <ul class="nav nav-pills">
              <li class="nav-item ">
                  <a class="nav-link green-tab" data-toggle="tab" href="#fabricacion">Fabricacion Estructuras Marinas</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link green-tab" data-toggle="tab" href="#ductos">Ductos Marinos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" data-toggle="tab" href="#electromecmarina">Electromecanica Marina(Interconexiones)</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" data-toggle="tab" href="#localizaciones">Localizaciones (Peras y Caminos)</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link green-tab" data-toggle="tab" href="#ductosterr">Ductos Terrestres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link green-tab" data-toggle="tab" href="#plantybat">Plantas y Baterias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link green-tab" data-toggle="tab" href="#electtierra">Electromecanica Tierra</a>
              </li>
          </ul>

          <div class="tab-content">
            <!-- Contenido de los itema -->
                <div id="fabricacion" class="tab-pane fade show active">
                    <app-process></app-process>
                    <p>Fabricacion Estructuras Marinas</p>
                </div>

                <div id="ductos" class="tab-pane fade">
                    <app-process></app-process>
                    <p>Ductos</p>
                </div>

                <div id="electromecmarina" class="tab-pane fade">
                    <app-process></app-process>
                    <p>Electromecania Marina/p>
                </div>

                <div id="localizaciones" class="tab-pane fade">
                    <app-process></app-process>
                    <p>Localizaciones (Peras y Caminos)</p>
                </div>

                <div id="ductosterr" class="tab-pane fade  ">
                    <app-process></app-process>
                    <p>Ductos Terrestres</p>
                </div>

                <div id="plantybat" class="tab-pane fade  ">
                    <app-process></app-process>
                    <p>Plantas y Baterias</p>
                </div>

                <div id="electtierra" class="tab-pane fade  ">
                    <app-process></app-process>
                    <p>Electromecanica Tierra</p>
              </div>
          </div>
    </div>
  </div>
</div>

