

<div class="hold-transition login-page" [style.backgroundImage]="'url(' + randomImage + ')'" style="background-size: cover;">

  <div class="login-box">
	  <div class="login-logo">
      <img src="/assets/img/template/bi2.png">
	  </div>
	  <!-- /.login-logo -->
	  <div class="card" >
	    <div class="card-body login-card-body">
	      <p class="login-box-msg" > {{ 'titlelogin' | translate}} </p>

	      <form
	      	autocomplete="off"
	      	[formGroup]="flogin"
	      	(ngSubmit)="login()"
	      >

	        <div class="input-group mb-3">

                <input type="email"
                class="form-control"
                placeholder="{{ 'email' | translate}}"
                formControlName="emaillogin"
                [ngClass]="{'is-invalid': invalidField('emaillogin')}" >

	          <div class="input-group-append">
	            <div class="input-group-text">
	              <span class="fas fa-envelope"></span>
	            </div>
	          </div>

	          <div class="invalid-feedback">Please fill out this email correctly..</div>

	        </div>


				<div class="input-group mb-3">
					<input [type]="hide ? 'password' : 'text'" class="form-control" autocomplete="current-password"
					formControlName="passwordlogin"
					[ngClass]="{'is-invalid': invalidField('passwordlogin')}"
						placeholder="{{'password' | translate}}">
					<div class="input-group-append">
					  <div class="input-group-text">
						<span class="fas fa-lock"></span>
					  </div>

						<button type="button" class="btn btn-default" (click)="toggleHide()">
							<i class="fas" [ngClass]="{'fa-eye-slash': !hide, 'fa-eye': hide}"></i>
						</button>
					</div>
				</div>

	           <div class="invalid-feedback">Please fill out this field correctly.</div>

	        <div class="row">
	          <!-- /.col -->
	          <div class="col-12">
	            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
	          </div>
	          <!-- /.col -->
	        </div>
	      </form>


	    </div>
	    <!-- /.login-card-body -->
	  </div>
	</div>
	<!-- /.login-box -->

  </div>
