<div class="container-fluid">
  <div class="row">
    <div class="col-12">

        <ul class="nav nav-pills">
            <li class="nav-item ">
                <a class="nav-link green-tab" data-toggle="tab" href="#fabricacion">Fabricacion Estructuras Marinas</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link green-tab" data-toggle="tab" href="#ductos">Ductos Marinos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link green-tab" data-toggle="tab" href="#electromecmarina">Electromecanica Marina(Interconexiones)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link green-tab" data-toggle="tab" href="#localizaciones">Localizaciones (Peras y Caminos)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link green-tab" data-toggle="tab" href="#ductosterr">Ductos Terrestres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab" data-toggle="tab" href="#plantybat">Plantas y Baterias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link green-tab" data-toggle="tab" href="#electtierra">Electromecanica Tierra</a>
            </li>
        </ul>

        <div class="tab-content">
          <!-- Contenido de los itema -->
              <div id="fabricacion" class="tab-pane fade show active">
                  <app-marines></app-marines>
                  <p>Fabricacion Estructuras Marinas</p>
              </div>

              <div id="ductos" class="tab-pane fade">
                  <app-marinepipes></app-marinepipes>
                  <p>Ductos Marinos</p>
              </div>

              <div id="electromecmarina" class="tab-pane fade">
                  <app-electmarines></app-electmarines>
                  <p>Electromecania Marina/p>
              </div>

              <div id="localizaciones" class="tab-pane fade">
                  <app-localizations></app-localizations>
                  <p>Localizaciones (Peras y Caminos)</p>
              </div>

              <div id="ductosterr" class="tab-pane fade  ">
                  <app-landpipes></app-landpipes>
                  <p>Ductos Terrestres</p>
              </div>

              <div id="plantybat" class="tab-pane fade  ">
                  <app-plantbat></app-plantbat>
                  <p>Plantas y Baterias</p>
              </div>

              <div id="electtierra" class="tab-pane fade  ">
                  <app-electland></app-electland>
                  <p>Electromecanica Tierra</p>
            </div>
        </div>

    </div>

  </div>
</div>